<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fogli Presenze Euris</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    @RenderBody()
    <script src="~/frontend/dist/frontend/runtime-es2015.js" type="module"></script>
    <script src="~/frontend/dist/frontend/polyfills-es2015.js" type="module"></script>
    <script src="~/frontend/dist/frontend/runtime-es5.js" nomodule></script>
    <script src="~/frontend/dist/frontend/polyfills-es5.js" nomodule></script>
    <script src="~/frontend/dist/frontend/styles-es2015.js" type="module"></script>
    <script src="~/frontend/dist/frontend/styles-es5.js" nomodule></script>
    <script src="~/frontend/dist/frontend/vendor-es2015.js" type="module"></script>
    <script src="~/frontend/dist/frontend/main-es2015.js" type="module"></script>
    <script src="~/frontend/dist/frontend/vendor-es5.js" nomodule></script>
    <script src="~/frontend/dist/frontend/main-es5.js" nomodule></script>
</body>
</html>