<h2>Impiegati Euris</h2>
<table *ngIf="edit=='menu'">
  <th>Nome</th>
  <th>Cognome</th>
  <th></th>
  <th></th>
  <tr *ngFor="let employee of employees">
    <td>{{employee.Name}}</td>
    <td>{{employee.Surname}}</td>
    <td class="tbl2">
      <button type="button" class="btn btn-info" (click)="loadEmployeeToEdit(employee)">Edit</button>
    </td>
    <td class="tbl2">
      <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.Id)">Delete</button>
    </td>
  </tr>
  <button type="button" class="btn btn-success" (click)="newPageInsert()">Aggiungi</button>
</table>

<table *ngIf="edit=='edit'">
  <th>Nome</th>
  <th>Cognome</th>
  <th>Sede</th>
  <th>Codice Team</th>
  <th></th>
  <th></th>
  <tr>
    <td><input type="text" [(ngModel)]="chosen.Name"/></td>
    <td><input type="text" [(ngModel)]="chosen.Surname"/></td>
    <td><input type="text" [(ngModel)]="chosen.Sede"/></td>
    <td><input type="text" [(ngModel)]="chosen.Codice"/></td>
    <td class="tbl2">
      <button type="button" class="btn btn-info" (click)="back()">Back</button>
    </td>
    <td class="tbl2">
      <button  class="btn btn-standard" (click)="updateEmployee(chosen)">Modify</button>
    </td>
  </tr>
</table>
  <table *ngIf="edit=='new'">
      <th>Nome</th>
      <th>Cognome</th>
      <th>Sede</th>
      <th>Codice Team</th>
      <th></th>
      <tr>
        <td><input type="text" [(ngModel)]="newEmployee.Name"/></td>
        <td><input type="text" [(ngModel)]="newEmployee.Surname"/></td>
        <td><input type="text" [(ngModel)]="newEmployee.Sede"/></td>
        <td><input type="text" [(ngModel)]="newEmployee.Codice"/></td>
        <td class="tbl2"><button type="button" class="btn btn-success" (click)="insertEmployee(newEmployee)">Aggiungi</button></td>
      </tr>
</table>