<div id="wrapper" class="active">
    <div id="sidebar-wrapper"class="align-items-stretch">
        <ul id="sidebar_menu" class="sidebar-nav">
        <li class="sidebar-brand"><a  id="menu-toggle">Menu<span id="main_icon"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">     
        <li><a routerLink="/home" routerLinkActive="active">Home Page<span class="sub_icon "></span></a></li>
        <li><a routerLink="/dipendenti" routerLinkActive="active">Lista Dipendenti<span class="sub_icon "></span></a></li>
       
        <li><a routerLink="/stampaCSV" routerLinkActive="active">Stampa CSV<span class="sub_icon "></span></a></li>
        </ul>
    </div>  
</div>

